In [213]:
import pandas as pd

In [214]:
df = pd.read_csv('/Users/shilpa/Downloads/2016_ETL_distracted.csv')
df

,statenum,casenum,vnumber,crashtype,dridistract,driavoidmanvr,drivisobs
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48.0,1.0,1.0,86.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,98.0,0.0
...,...,...,...,...,...,...,...
5329,48.0,3525.0,2.0,49.0,0.0,98.0,0.0
5330,48.0,3526.0,1.0,24.0,0.0,98.0,0.0
5331,48.0,3526.0,2.0,25.0,0.0,98.0,0.0
5332,48.0,3527.0,1.0,28.0,0.0,98.0,0.0
5333,48.0,3527.0,2.0,29.0,0.0,98.0,0.0

In [215]:
df1 = df.rename(columns={'statenum': 'State Name', 
                         'casenum': 'CaseNo', 
                         'vnumber': 'VehicleNo', 
                         'crashtype': 'CrashType',
                        'dridistract': 'Distracted By',
                        'driavoidmanvr': "Driver's Action",
                        'drivisobs': 'Obscured Vision'})
df1

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48.0,1.0,1.0,86.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,98.0,0.0
...,...,...,...,...,...,...,...
5329,48.0,3525.0,2.0,49.0,0.0,98.0,0.0
5330,48.0,3526.0,1.0,24.0,0.0,98.0,0.0
5331,48.0,3526.0,2.0,25.0,0.0,98.0,0.0
5332,48.0,3527.0,1.0,28.0,0.0,98.0,0.0
5333,48.0,3527.0,2.0,29.0,0.0,98.0,0.0

In [216]:
df1.dropna()

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48.0,1.0,1.0,86.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,98.0,0.0
5,48.0,3.0,1.0,1.0,0.0,98.0,0.0
...,...,...,...,...,...,...,...
5329,48.0,3525.0,2.0,49.0,0.0,98.0,0.0
5330,48.0,3526.0,1.0,24.0,0.0,98.0,0.0
5331,48.0,3526.0,2.0,25.0,0.0,98.0,0.0
5332,48.0,3527.0,1.0,28.0,0.0,98.0,0.0
5333,48.0,3527.0,2.0,29.0,0.0,98.0,0.0

In [217]:
 df1.dtypes

State Name         float64
CaseNo             float64
VehicleNo          float64
CrashType          float64
Distracted By      float64
Driver's Action    float64
Obscured Vision    float64
dtype: object

In [218]:
df1.astype('int32').dtypes

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [219]:
df2 = df1.dropna()
df2.head()

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48.0,1.0,1.0,86.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,98.0,0.0
5,48.0,3.0,1.0,1.0,0.0,98.0,0.0

In [220]:
df3 = df2.astype(int)
df3

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48,1,1,86,0,98,0
2,48,1,2,87,0,98,0
3,48,1,3,98,0,0,0
4,48,2,1,6,0,98,0
5,48,3,1,1,0,98,0
...,...,...,...,...,...,...,...
5329,48,3525,2,49,0,98,0
5330,48,3526,1,24,0,98,0
5331,48,3526,2,25,0,98,0
5332,48,3527,1,28,0,98,0
5333,48,3527,2,29,0,98,0

In [221]:
df3.dtypes

State Name         int64
CaseNo             int64
VehicleNo          int64
CrashType          int64
Distracted By      int64
Driver's Action    int64
Obscured Vision    int64
dtype: object

In [222]:
df3 =df2["Driver's Action"].astype(int)
df3

1       98
2       98
3        0
4       98
5       98
        ..
5329    98
5330    98
5331    98
5332    98
5333    98
Name: Driver's Action, Length: 5333, dtype: int64

In [223]:
df3 = df2["State Name"].astype(int)
df3 
df3 = df2["CrashType"].astype(int)
df3 = df2["Obscured Vision"].astype(int)
df3

1       0
2       0
3       0
4       0
5       0
       ..
5329    0
5330    0
5331    0
5332    0
5333    0
Name: Obscured Vision, Length: 5333, dtype: int64

In [224]:
df2.dtypes

State Name         float64
CaseNo             float64
VehicleNo          float64
CrashType          float64
Distracted By      float64
Driver's Action    float64
Obscured Vision    float64
dtype: object

In [225]:
df2.head()

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48.0,1.0,1.0,86.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,98.0,0.0
5,48.0,3.0,1.0,1.0,0.0,98.0,0.0

In [226]:
df2['CaseNo'] = [str(int(CaseNo)).zfill(4) for CaseNo in df2['CaseNo']]
df2['VehicleNo'] = [str(int(VehicleNo)).zfill(4) for VehicleNo in df2['VehicleNo']]
df2["ID"] = df2['CaseNo'] + df2['VehicleNo']
df2["ID"]

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

1       00010001
2       00010002
3       00010003
4       00020001
5       00030001
          ...
5329    35250002
5330    35260001
5331    35260002
5332    35270001
5333    35270002
Name: ID, Length: 5333, dtype: object

In [227]:
df2

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision,ID
1,48.0,0001,0001,86.0,0.0,98.0,0.0,00010001
2,48.0,0001,0002,87.0,0.0,98.0,0.0,00010002
3,48.0,0001,0003,98.0,0.0,0.0,0.0,00010003
4,48.0,0002,0001,6.0,0.0,98.0,0.0,00020001
5,48.0,0003,0001,1.0,0.0,98.0,0.0,00030001
...,...,...,...,...,...,...,...,...
5329,48.0,3525,0002,49.0,0.0,98.0,0.0,35250002
5330,48.0,3526,0001,24.0,0.0,98.0,0.0,35260001
5331,48.0,3526,0002,25.0,0.0,98.0,0.0,35260002
5332,48.0,3527,0001,28.0,0.0,98.0,0.0,35270001
5333,48.0,3527,0002,29.0,0.0,98.0,0.0,35270002

In [228]:
df2

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision,ID
1,48.0,0001,0001,86.0,0.0,98.0,0.0,00010001
2,48.0,0001,0002,87.0,0.0,98.0,0.0,00010002
3,48.0,0001,0003,98.0,0.0,0.0,0.0,00010003
4,48.0,0002,0001,6.0,0.0,98.0,0.0,00020001
5,48.0,0003,0001,1.0,0.0,98.0,0.0,00030001
...,...,...,...,...,...,...,...,...
5329,48.0,3525,0002,49.0,0.0,98.0,0.0,35250002
5330,48.0,3526,0001,24.0,0.0,98.0,0.0,35260001
5331,48.0,3526,0002,25.0,0.0,98.0,0.0,35260002
5332,48.0,3527,0001,28.0,0.0,98.0,0.0,35270001
5333,48.0,3527,0002,29.0,0.0,98.0,0.0,35270002

In [229]:
df2["Driver's Action"].iloc[i] =

SyntaxError: invalid syntax (<ipython-input-229-93f368b630c2>, line 1)

In [230]:
Code = pd.read_csv('/Users/shilpa/Desktop/Driver_manuvered_to_avoid_Code Definitions.csv')
Code

   ID                                                Def
0   0                (0)Driver Did Not Maneuver To Avoid
1   1                                          (1)Object
2   2  (2)Poor Road Conditions (Puddle, Ice, Pothole,...
3   3                                     (3)Live Animal
4   4                                   (4)Motor Vehicle
5   5  (5)Pedestrian, Pedalcyclist Or Other Non-Motorist
6  92              (92)Phantom/Non-Contact Motor Vehicle
7  95    (95)No Driver Present/Unknown If Driver Present
8  98                                   (98)Not Reported
9  99                                        (99)Unknown

In [231]:
Code["Def"].iloc[8]

'(98)Not Reported'

In [232]:
df2["Driver's Action"].iloc[1] = Code["ID"][8]

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [233]:
Code.loc[1]

ID             1
Def    (1)Object
Name: 1, dtype: object

In [234]:
Code.loc[Code['ID']==98,['Def']]

                Def
8  (98)Not Reported

In [235]:
df2["Driver's Action"].iloc[1] = Code.loc[Code['ID']==98,['Def']]

ValueError: Incompatible indexer with DataFrame

In [236]:
A = Code.loc[Code['ID']==98,['Def']]
A

                Def
8  (98)Not Reported

In [237]:
A.drop_index()

AttributeError: 'DataFrame' object has no attribute 'drop_index'

In [238]:
A

                Def
8  (98)Not Reported

In [239]:
A[0::]

                Def
8  (98)Not Reported

In [240]:
A[2:30]

Empty DataFrame
Columns: [Def]
Index: []

In [241]:
print(A)

                Def
8  (98)Not Reported

In [242]:
print(A.dtype())

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [243]:
A.astype(str)

                Def
8  (98)Not Reported

In [244]:
A[0]

KeyError: 0

In [245]:
A.dtypes

Def    object
dtype: object

In [246]:
Code["Def"].iloc(int(Code.index[Code['ID'] == 98][0]))

ValueError: No axis named 8 for object type <class 'pandas.core.series.Series'>

In [247]:
int(Code.index[Code['ID'] == 98][0])

8

In [248]:
Code["Def"].iloc[8]

'(98)Not Reported'

In [249]:
idx = int(Code.index[Code['ID'] == df2["Driver's Action"].iloc[1]][0])
df2["Driver's Action"].iloc[1] = Code["Def"].iloc[idx]

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [250]:
import re
df2 = df1.dropna()
for i in range (0, 5336):
    idx = int(Code.index[Code['ID'] == df2["Driver's Action"].iloc[i]][0])
    a = Code["Def"].iloc[idx]
    df2["Driver's Action"].iloc[i] = re.sub(r'\(\d+\)',"", a)
df2

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

IndexError: single positional indexer is out-of-bounds

In [251]:

df3 = df2.dropna()
#for i in range (0, 5326):
    #idx = int(Code.index[Code['ID'] == df2["Driver's Action"].iloc[i]][0])
    #Code["Def"].iloc[idx] = df2["Driver's Action"].iloc[i]
df3

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48.0,1.0,1.0,86.0,0.0,Not Reported,0.0
2,48.0,1.0,2.0,87.0,0.0,Not Reported,0.0
3,48.0,1.0,3.0,98.0,0.0,Driver Did Not Maneuver To Avoid,0.0
4,48.0,2.0,1.0,6.0,0.0,Not Reported,0.0
5,48.0,3.0,1.0,1.0,0.0,Not Reported,0.0
...,...,...,...,...,...,...,...
5329,48.0,3525.0,2.0,49.0,0.0,Not Reported,0.0
5330,48.0,3526.0,1.0,24.0,0.0,Not Reported,0.0
5331,48.0,3526.0,2.0,25.0,0.0,Not Reported,0.0
5332,48.0,3527.0,1.0,28.0,0.0,Not Reported,0.0
5333,48.0,3527.0,2.0,29.0,0.0,Not Reported,0.0

In [252]:
df2

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48.0,1.0,1.0,86.0,0.0,Not Reported,0.0
2,48.0,1.0,2.0,87.0,0.0,Not Reported,0.0
3,48.0,1.0,3.0,98.0,0.0,Driver Did Not Maneuver To Avoid,0.0
4,48.0,2.0,1.0,6.0,0.0,Not Reported,0.0
5,48.0,3.0,1.0,1.0,0.0,Not Reported,0.0
...,...,...,...,...,...,...,...
5329,48.0,3525.0,2.0,49.0,0.0,Not Reported,0.0
5330,48.0,3526.0,1.0,24.0,0.0,Not Reported,0.0
5331,48.0,3526.0,2.0,25.0,0.0,Not Reported,0.0
5332,48.0,3527.0,1.0,28.0,0.0,Not Reported,0.0
5333,48.0,3527.0,2.0,29.0,0.0,Not Reported,0.0

In [253]:

print(Code)
print(Code.index[Code['ID'] == 92][0])
print(Code["Def"].iloc[6])

   ID                                                Def
0   0                (0)Driver Did Not Maneuver To Avoid
1   1                                          (1)Object
2   2  (2)Poor Road Conditions (Puddle, Ice, Pothole,...
3   3                                     (3)Live Animal
4   4                                   (4)Motor Vehicle
5   5  (5)Pedestrian, Pedalcyclist Or Other Non-Motorist
6  92              (92)Phantom/Non-Contact Motor Vehicle
7  95    (95)No Driver Present/Unknown If Driver Present
8  98                                   (98)Not Reported
9  99                                        (99)Unknown
6
(92)Phantom/Non-Contact Motor Vehicle

In [254]:
Code2 = pd.read_csv('/Users/shilpa/Library/Containers/com.microsoft.Excel/Data/Desktop/Driver_distracted_by_Code Definitions.csv')
Code2

    ID                                                Def
0    0                                  (0)Not Distracted
1    1                          (1)Looked But Did Not See
2    3                            (3)By Other Occupant(s)
3    4                   (4)By A Moving Object In Vehicle
4    5    (5)While Talking Or Listening To Cellular Phone
5    6               (6)While Manipulating Cellular Phone
6    7             (7)Adjusting Audio Or Climate Controls
7    9  (9)While Using Other Component/Controls Integr...
8   10  (10)While Using Or Reaching For Device/Object ...
9   12  (12)Distracted By Outside Person, Object Or Event
10  13                             (13)Eating Or Drinking
11  14                                (14)Smoking Related
12  15                   (15)Other Cellular Phone Related
13  16    (16)No Driver Present/Unknown If Driver Present
14  17                        (17)Distraction/Inattention
15  18                           (18)Distraction/Careless
16  19                           (19)Careless/Inattentive
17  92      (92)Distraction (Distracted), Details Unknown
18  93     (93)Inattention (Inattentive), Details Unknown
19  96                                   (96)Not Reported
20  97                 (97)Lost In Thought / Day Dreaming
21  98                              (98)Other Distraction
22  99                          (99)Unknown If Distracted

In [257]:
Code2.index[Code2['ID'] == df3["Distracted By"].iloc[0]

SyntaxError: unexpected EOF while parsing (<ipython-input-257-a2041255f529>, line 1)

In [256]:

df3 = df2.dropna()
#for i in range (0, 5326):
    #idx = int(Code2.index[Code['ID'] == df3["Distracted By"].iloc[i]][0])
    #Code2["Def"].iloc[idx] = df3["Distracted By"].iloc[i] 
df3

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48.0,1.0,1.0,86.0,0.0,Not Reported,0.0
2,48.0,1.0,2.0,87.0,0.0,Not Reported,0.0
3,48.0,1.0,3.0,98.0,0.0,Driver Did Not Maneuver To Avoid,0.0
4,48.0,2.0,1.0,6.0,0.0,Not Reported,0.0
5,48.0,3.0,1.0,1.0,0.0,Not Reported,0.0
...,...,...,...,...,...,...,...
5329,48.0,3525.0,2.0,49.0,0.0,Not Reported,0.0
5330,48.0,3526.0,1.0,24.0,0.0,Not Reported,0.0
5331,48.0,3526.0,2.0,25.0,0.0,Not Reported,0.0
5332,48.0,3527.0,1.0,28.0,0.0,Not Reported,0.0
5333,48.0,3527.0,2.0,29.0,0.0,Not Reported,0.0