In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/shilpa/Downloads/2016_ETL_distracted.csv')
df

,statenum,casenum,vnumber,crashtype,dridistract,driavoidmanvr,drivisobs
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48.0,1.0,1.0,86.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,98.0,0.0
...,...,...,...,...,...,...,...
5329,48.0,3525.0,2.0,49.0,0.0,98.0,0.0
5330,48.0,3526.0,1.0,24.0,0.0,98.0,0.0
5331,48.0,3526.0,2.0,25.0,0.0,98.0,0.0
5332,48.0,3527.0,1.0,28.0,0.0,98.0,0.0
5333,48.0,3527.0,2.0,29.0,0.0,98.0,0.0

In [3]:
df1 = df.rename(columns={'statenum': 'State Name', 
                         'casenum': 'CaseNo', 
                         'vnumber': 'VehicleNo', 
                         'crashtype': 'CrashType',
                        'dridistract': 'Distracted By',
                        'driavoidmanvr': "Driver's Action",
                        'drivisobs': 'Obscured Vision'})
df1

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48.0,1.0,1.0,86.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,98.0,0.0
...,...,...,...,...,...,...,...
5329,48.0,3525.0,2.0,49.0,0.0,98.0,0.0
5330,48.0,3526.0,1.0,24.0,0.0,98.0,0.0
5331,48.0,3526.0,2.0,25.0,0.0,98.0,0.0
5332,48.0,3527.0,1.0,28.0,0.0,98.0,0.0
5333,48.0,3527.0,2.0,29.0,0.0,98.0,0.0

In [4]:
df1.dropna()

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48.0,1.0,1.0,86.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,98.0,0.0
5,48.0,3.0,1.0,1.0,0.0,98.0,0.0
...,...,...,...,...,...,...,...
5329,48.0,3525.0,2.0,49.0,0.0,98.0,0.0
5330,48.0,3526.0,1.0,24.0,0.0,98.0,0.0
5331,48.0,3526.0,2.0,25.0,0.0,98.0,0.0
5332,48.0,3527.0,1.0,28.0,0.0,98.0,0.0
5333,48.0,3527.0,2.0,29.0,0.0,98.0,0.0

In [5]:
 df1.dtypes

State Name         float64
CaseNo             float64
VehicleNo          float64
CrashType          float64
Distracted By      float64
Driver's Action    float64
Obscured Vision    float64
dtype: object

In [6]:
df2 = df1.dropna()
df2.head()

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48.0,1.0,1.0,86.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,98.0,0.0
5,48.0,3.0,1.0,1.0,0.0,98.0,0.0

In [7]:
 df3 = df2.astype(int)

In [8]:
df3.head()

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48,1,1,86,0,98,0
2,48,1,2,87,0,98,0
3,48,1,3,98,0,0,0
4,48,2,1,6,0,98,0
5,48,3,1,1,0,98,0

In [9]:
df3['CaseNo'] = [str(int(CaseNo)).zfill(4) for CaseNo in df3['CaseNo']]
df3['VehicleNo'] = [str(int(VehicleNo)).zfill(4) for VehicleNo in df3['VehicleNo']]
df3["ID"] = df3['CaseNo'] + df3['VehicleNo']
df3["ID"]

1       00010001
2       00010002
3       00010003
4       00020001
5       00030001
          ...
5329    35250002
5330    35260001
5331    35260002
5332    35270001
5333    35270002
Name: ID, Length: 5333, dtype: object

In [10]:
df3

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision,ID
1,48,0001,0001,86,0,98,0,00010001
2,48,0001,0002,87,0,98,0,00010002
3,48,0001,0003,98,0,0,0,00010003
4,48,0002,0001,6,0,98,0,00020001
5,48,0003,0001,1,0,98,0,00030001
...,...,...,...,...,...,...,...,...
5329,48,3525,0002,49,0,98,0,35250002
5330,48,3526,0001,24,0,98,0,35260001
5331,48,3526,0002,25,0,98,0,35260002
5332,48,3527,0001,28,0,98,0,35270001
5333,48,3527,0002,29,0,98,0,35270002

In [11]:
df3

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision,ID
1,48,0001,0001,86,0,98,0,00010001
2,48,0001,0002,87,0,98,0,00010002
3,48,0001,0003,98,0,0,0,00010003
4,48,0002,0001,6,0,98,0,00020001
5,48,0003,0001,1,0,98,0,00030001
...,...,...,...,...,...,...,...,...
5329,48,3525,0002,49,0,98,0,35250002
5330,48,3526,0001,24,0,98,0,35260001
5331,48,3526,0002,25,0,98,0,35260002
5332,48,3527,0001,28,0,98,0,35270001
5333,48,3527,0002,29,0,98,0,35270002

In [24]:
crash_type = pd.read_csv('/Users/shilpa/Desktop/Crash_Type_Code Definitions.csv')
crash_type

    ID                                        Def
0    0                               (0)No Impact
1    1                          (1)Drive Off Road
2    2                   (2)Control/Traction Loss
3    3  (3)Avoid Collision With Veh., Ped., Anim.
4    4                         (4)Specifics Other
..  ..                                        ...
88  91                      (91)Specifics Unknown
89  92                           (92)Backing Veh.
90  93                          (93)Other Vehicle
91  98                       (98)Other Crash Type
92  99                                (99)Unknown

[93 rows x 2 columns]

In [13]:
crash_type["Def"].iloc[0]

'(0)No Impact'

In [14]:
a = df3["CrashType"].iloc[1] = crash_type["ID"][8]
a

//anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

8

In [15]:
crash_type.loc[1]

ID                     1
Def    (1)Drive Off Road
Name: 1, dtype: object

In [16]:
crash_type.loc[crash_type['ID']==86,['Def']]

                            Def
83  (86)Striking From The Right

In [17]:
crash_type.astype(str)

    ID                                        Def
0    0                               (0)No Impact
1    1                          (1)Drive Off Road
2    2                   (2)Control/Traction Loss
3    3  (3)Avoid Collision With Veh., Ped., Anim.
4    4                         (4)Specifics Other
..  ..                                        ...
88  91                      (91)Specifics Unknown
89  92                           (92)Backing Veh.
90  93                          (93)Other Vehicle
91  98                       (98)Other Crash Type
92  99                                (99)Unknown

[93 rows x 2 columns]

In [18]:
int(crash_type.index[crash_type['ID'] == 0][0])

0

In [19]:
crash_type["Def"].iloc[0]

'(0)No Impact'

In [20]:
import re
df3 = df2.dropna()
for i in range (0, 5336):
    idx = int(crash_type.index[crash_type['ID'] == df3["CrashType"].iloc[i]][0])
    a = crash_type["Def"].iloc[idx]
    df3["CrashType"].iloc[i] = re.sub(r'\(\d+\)',"", a)
print(df3)

IndexError: single positional indexer is out-of-bounds

In [21]:

df3 
#for i in range (0, 5336):
#    idx = int(crash_type.index[crash_type['ID'] == df3["CrashType"].iloc[i]][0])
#    a = crash_type["Def"].iloc[idx] = df3["CrashType"].iloc[i]
df3

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48.0,1.0,1.0,Striking From The Right,0.0,98.0,0.0
2,48.0,1.0,2.0,Struck On The Right,0.0,98.0,0.0
3,48.0,1.0,3.0,Other Crash Type,0.0,0.0,0.0
4,48.0,2.0,1.0,Drive Off Road,0.0,98.0,0.0
5,48.0,3.0,1.0,Drive Off Road,0.0,98.0,0.0
...,...,...,...,...,...,...,...
5329,48.0,3525.0,2.0,Specifics Unknown,0.0,98.0,0.0
5330,48.0,3526.0,1.0,Slower,0.0,98.0,0.0
5331,48.0,3526.0,2.0,"Slower, Going Straight",0.0,98.0,0.0
5332,48.0,3527.0,1.0,Decelerating (Slowing),0.0,98.0,0.0
5333,48.0,3527.0,2.0,"Decelerating (Slowing), Going Straight",0.0,98.0,0.0